/* @group basics */

* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  /*background-color: #E1E1E1;*/ background-color: #FFF;
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #848484;
}

body.grid {
  background-image: url(../images/grid.png);
}

h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
  padding-left:3px;
}

/*h1:first-letter {
  font-size: 2em;
  color: #3CB182;
  vertical-align: -28px;
}*/

h2 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #848484;
}

h3 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

p {
  margin-bottom: 20px;
}

a:link, a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
  color: #000;
}



/* @end */

/* @group header */

#header {
  height: 40px;
  background: url("../images/header_bg.png") repeat scroll 0% 0% transparent ! important; 
  -moz-box-shadow: 0pt 1px 10px rgb(51, 51, 51);
  line-height: 38px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#header ul {
  width: 950px;
  padding-left: 0px;                  
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 7px;
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
}

#header ul li {
  padding-left: 7px;
  display: inline;
  margin-right: 10px;
  float: left;
}

#header ul li a {
  line-height: 24px;
  font-size: 12px;
  font-style: italic;
  background: url(../images/header-right.png) right 0;
  float: left;
  color: #848484;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

#header ul li a:hover {
  text-decoration: none;
  opacity: 0.5;
}

#header ul li a span {
  display: block;
  height: 26px;
  float: left;
  background: url(../images/header-left.png) no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}

#header ul a img {
  padding-right: 4px;
  float: right;
  background: none;
  border: none;
  opacity: 0.7;
}

#header ul a:hover img {
  background: none;
  border: none;
  opacity: 0.5;
}

/* @end */

/* @group about */

#about {
  width: 950px;
  padding: 80px 0 50px 0;
  margin: 0 auto;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

#about h1 {
  font-size: 41px; 
  text-transform: uppercase; 
  letter-spacing: 3px;
  margin-bottom: 4px;
  margin-top: 2px;
}

#about h2 { 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  font-style: italic;
  line-height: 20px;
  margin-bottom: 14px;
}

/* --- */

/* LinkedIn over */
#linkedin {
  background: url(../images/linkedin_nb.png) no-repeat;
  width:62px;
  height:78px;
  float: left;
  margin:0px;
  padding-right:10px;
}

#linkedin:hover {
  background: url(../images/linkedin.png) no-repeat;
  width:62px;
  height:78px;
  float: left;
  margin:0px;
}

/* Facebook over */
#facebook {
  background: url(../images/facebook_nb.png) no-repeat;
  width:62px;
  height:78px;
  float: left;
  margin:0px;
  padding-right:10px;
}
#facebook:hover {
  background: url(../images/facebook.png) no-repeat;
  width:62px;
  height:78px;
  float: left;
  margin:0px;
}

/* Twitter over */
#twitter {
  background: url(../images/twitter_nb.png) no-repeat;
  width:62px;
  height:78px;
  float: left;
  margin:0px;
}
#twitter:hover {
  background: url(../images/twitter.png) no-repeat;
  width:62px;
  height:78px;
  float: left;
  margin:0px;
}


/* --- */

#story {
  font-size: 18px;
  line-height: 30px;
  width: 500px/*480px*/;
  float: left;
  padding-right: 240px;
}

#picture {
  width: 190px;
  float: left;
  -moz-box-shadow: 0 0 12px #888;
  -webkit-box-shadow: 0 0 12px#888;
  box-shadow: 0 0 12px #888;
}

/* @group contact */

#contact {
  width: 300px;
  float: left;
  padding-top: 30px;
  list-style-type: none;
  line-height: 22px;
}

#contact li {
  width: 300px;
  overflow: hidden;
  margin-bottom: 5px;
}

#contact li span {
  float: left;
}

#contact li strong {
  float: right;
  text-align: right;
  color: #3c3c3c;
  font-weight: normal;
  font-style: normal;
}

#contact li img {
  border: none;
}

/* @end */

/* @group section */

.section {
  width: 950px;
  margin: 0 auto;
  padding: 20px 0;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

.section h2 {
  width: 160px;
  padding-right: 30px;
  float: left;
  padding-top: 0;
  line-height: 22px;
  font-style: italic;
}

.section h3 {
  line-height: 22px;
  margin-bottom: 24px;
  font-style: italic;
}

.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: -20px;
}

.section .date {
  position: absolute;
  top: 6px;
  right: 0;
}

.section .item {
  width: 710px;
  padding-left: 50px;
  float: right;
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../images/separator.png) no-repeat 0 bottom;
}

.section .description {
  width: 510px;
}

.talent { 
  width: 30%; 
  float: left;
  padding-right: 10px;
}

.talent h4 {
  color: #3C3C3C;
  font-style: italic;
}

.talent ul { padding-left: 15px;}
.talent ul li {
	list-style-position: outside;
	list-style-type: circle;
}

/* @end */

/* @group small */

body.small {
}

body.small #header ul  {
  width: 750px;
}

body.small #about {
  width: 750px;
  position: relative;
  padding-bottom: 65px;
  min-height: 260px;
}

body.small #about #story {
  float: none;
}

body.small #about #contact {
  float: none;
  padding-top: 0;
  padding-right: 0;
  clear: left;
}

body.small #about #picture {
  clear: none;
  float: none;
  position: absolute;
  top: 80px;
  right: 0;
}

/* --- */

body.small .section {
  width: 750px;
}

body.small .section .item {
  width: 510px;
}



/* @end */

/* @group footer */

#footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* @end */




/* -- Pop up -- */

#fade { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 9999;
}

#popup_about h2 {
	color: #3c3c3c;
}

#popup_about p {
	padding-top: 7px;
}

.popup_block {
    display: none; /*--hidden by default--*/
    
    background-color: #f5f5f5;
    font: 14px/20px Georgia, "Times New Roman", Times, serif;
    color: #848484;
    
    padding: 20px;
    border: 20px solid #ddd;
    float: left;
    /*font-size: 1.2em;*/
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    /*--CSS3 Box Shadows--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

img.btn_close {
    border: none;
    float: right;
    margin: -55px -55px 0 0;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
    position: absolute;
}

*html .popup_block {
    position: absolute;
}
